<div class="container">
<div class="panel panel-success">
    <div class="panel-heading">
        <h4>Ajouter un nouveau Produit</h4>
    </div>
    <div class="panel-body">
        <form (ngSubmit)='onSubmit(f)' #f="ngForm">
            <div class="form-group">
                <label for="text">Nom:</label>
                <input type="Text" class="form-control" [(ngModel)]="nouvprod.name" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="cat-select">Categorie:</label>
                <select name="categorie" [(ngModel)]="nouvprod.categorie">
                    <option *ngFor="let c of cat" [ngValue]="c">
                        {{c.name}}
                    </option>
                </select>
            </div>
           <!--  <div class="form-group">
                <label for="pwd">Taille</label>
                <input type="number" class="form-control" [(ngModel)]="nouvprod.taille" name="taille" id="taille">
                <label for="points">Taille :</label>
                <input type="range"  class="form-control" [(ngModel)]="nouvprod.taille" id="taille" name="taille" min="15" max="45">
            </div> -->
            <div class="form-group">
                <label for="exampleFormControlSelect1">Selectionner la taille</label>
                <select class="form-control" [(ngModel)]="nouvprod.taille" name="taille" id="taille">
                  <option>29</option>
                  <option>30</option>
                  <option>31</option>
                  <option>32</option>
                  <option>33</option>
                </select>
              </div>
            <div class="form-group">
                <label for="exampleColorInput" class="form-label">Couleur</label>
                <input type="color" class="form-control form-control-color" [(ngModel)]="nouvprod.couleur"
                    name="couleur" id="nom" id="exampleColorInput" value="#563d7c">
            </div>
            <div class="form-group">
                <label for="text">Description</label>
                <input type="text" class="form-control" [(ngModel)]="nouvprod.description" name="Description"
                    id="Description">
            </div>
            <div class="form-group">
                <label for="pwd">Prix</label>
                <input type="number" class="form-control" [(ngModel)]="nouvprod.currentprice" name="nom" id="prix">
            </div>
            <div class="form-group">
                <label for="pwd">Quantité</label>
                <input type="number" class="form-control" [(ngModel)]="nouvprod.quantite" name="quantite" id="quantite">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="nouvprod.promotion" name="promotion" id="promotion">
                    Promotion</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="nouvprod.selected" name="selection" id="selection">
                    Selection</label>
            </div>
            <div class="form-group">
                <label>Telechrger la photo</label>
                <input type="file" accept="image/*" (change)="onSelectFile($event)">
                <img [src]="imageURL" height="200" *ngIf="imageURL">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
</div>